
.icon-text-height:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-doc-landscape:before { content: '\e802'; } /* '' */
.icon-divide:before { content: '\e803'; } /* '' */
.icon-myspace:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-menu-1:before { content: '\e806'; } /* '' */
.icon-align-left:before { content: '\e807'; } /* '' */
.icon-align-center:before { content: '\e808'; } /* '' */
.icon-align-right:before { content: '\e809'; } /* '' */
.icon-align-justify:before { content: '\e80a'; } /* '' */
.icon-floppy:before { content: '\e80b'; } /* '' */
.icon-left-big:before { content: '\e80c'; } /* '' */
.icon-right-big:before { content: '\e80d'; } /* '' */
.icon-emo-happy:before { content: '\e80e'; } /* '' */
.icon-qrcode:before { content: '\e80f'; } /* '' */
.icon-barcode:before { content: '\e810'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
